@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lobster+Two&family=Pacifico&display=swap');

:root {
  /* Colors */
  --color-primary: rgb(213, 225, 235);
  --colornav: #3399db;
  --color-grey-1: #ceced0;

  /* Darkmode */
  --darkmodelayer_1: rgb(1, 5, 32);
  --darkmodelayer_2: rgb(2, 5, 24);
  --darkmodelayer_3: #1E2139;

  /* Globals */
  --global-radius: 4px;
}

.active .navs {
  color:#b41111
}

.navs{
  margin-bottom: 2rem;
  color:rgb(36, 36, 206);
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.newNavs{
  color:rgb(16, 39, 241);
  
}

.navs:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.title {
  background: linear-gradient(to right, #4b6cb7, #182848);
  transition: background 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:12px;
  color:aliceblue;
  border-radius: 85px 10px;
}

.title h1 {
  font-size:25px;
}


.new-title {
  background: linear-gradient(to right, #200122, #6f0000);
  color:rgb(212, 235, 255);
  transition: background 0.5s ease-in-out;
}





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--colornav);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--colornav);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

















.Overlay {
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 5;
}

.Overlay.Show {
  display: block;
}

.Modal {
  position: fixed;
  left: -150vw;
  /* background-color: #fff; */
  height:100vh;
  min-width: 3rem;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-out;
  z-index: 10;
}

.Modal.Show {
 left: 0;
 transition: all 0.3s ease-out;
}



.LogOutModal {
  position: fixed;
  width: 100%;
  margin: auto;
  transition: all 0.3s ease-out;
  z-index: 30;
  display: none;
}

.LogOutModal.ShowLog-out {
 transition: all 0.3s ease-out;
 display: block;
}

.LogOut-Overlay {
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 15;
}


.LogOut-Overlay.ShowLog-out {
  display: block;
}
